.navbarBrand img{
	width: 30px;
	height: 30px;
}

.selected {
	color: white;
	background-color: #76a2d2;
}

.nav-discount{
	display: contents;
}
.nav-discount .form-control-sm{
	width: 50vw;
	margin-left: auto;
}

.nav-discount .form-control-md{
	width: 15vw;
}

.nav-discount-submit .btn-group-sm>.btn, .btn-sm{
	margin-right: auto;
	margin-left: 5px;
}

@media only screen and (max-width: 1200) {
  .nav-discount{
  	width: 15vw;
  }

}

@media (max-width: 992px) {
  .nav-discount{
  	width: 15vw;
  }
}

@media (max-width: 768px) {
  .nav-discount{
  	width: 15vw;
  	display: contents;
  }
}

@media (max-width: 576px) {
  .nav-discount{
  	width:50vw;
  }
}

@media (min-width: 576px){
	.nav-discount .form-control {
		width: 15vw;
		margin-left: auto;
	}
	.nav-discount-input {
		margin-left: auto;
	}
	.nav-discount-submit .btn-group-sm>.btn, .btn-sm{
		margin-right: auto;
	}
}




